:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.optimizer-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.section-title {
  margin-bottom: 0.5rem;
}

.section-desc {
  margin-bottom: 1.75rem;
}

.optimizer-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.optimizer-form .form-group:last-of-type {
  margin-bottom: 2rem;
}

.optimizer-form .btn-full {
  margin-top: auto;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
